
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Permite que a aplicação liste os documentos da coleção e crie novos.
    match /production-entries/{entryId} {
      allow list, create: if true;
      // Permite que a aplicação leia, atualize ou delete documentos individuais.
      allow get, update, delete: if true;
    }

    // Permite que a aplicação liste os documentos da coleção e crie novos.
    match /production-losses/{lossId} {
      allow list, create: if true;
      // Permite que a aplicação leia, atualize ou delete documentos individuais.
      allow get, update, delete: if true;
    }
  }
}
