
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Permite acesso total de leitura e escrita à coleção de registros de produção.
    match /production-entries/{entryId} {
      allow read, write: if true;
    }

    // Permite acesso total de leitura e escrita à coleção de registros de perdas.
    match /production-losses/{lossId} {
      allow read, write: if true;
    }
  }
}
