@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 202 69% 83%;
    --primary-foreground: 0 0% 10%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 202 69% 83%;
    --chart-1: 340 82% 52%;
    --chart-2: 160 82% 42%;
    --chart-3: 45 93% 47%;
    --chart-4: 260 82% 57%;
    --chart-5: 210 93% 57%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 20%;
    --foreground: 0 0% 93.3%;
    --card: 0 0% 24%;
    --card-foreground: 0 0% 93.3%;
    --popover: 0 0% 20%;
    --popover-foreground: 0 0% 93.3%;
    --primary: 202 69% 83%;
    --primary-foreground: 0 0% 10%;
    --secondary: 0 0% 24%;
    --secondary-foreground: 0 0% 93.3%;
    --muted: 0 0% 24%;
    --muted-foreground: 0 0% 60%;
    --accent: 0 0% 28%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 30%;
    --input: 0 0% 30%;
    --ring: 202 69% 83%;
    --chart-1: 340 92% 62%;
    --chart-2: 160 92% 52%;
    --chart-3: 45 100% 57%;
    --chart-4: 260 92% 67%;
    --chart-5: 210 100% 67%;
    
    --sidebar-background: 0 0% 15%;
    --sidebar-foreground: 0 0% 93.3%;
    --sidebar-primary: 202 69% 83%;
    --sidebar-primary-foreground: 0 0% 10%;
    --sidebar-accent: 0 0% 28%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 0 0% 30%;
    --sidebar-ring: 202 69% 83%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
